@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.text-open
{
    font-family: 'Open Sans', sans-serif;
}
.bg-theme-color
{
    background-color: #2C91D7;
}
.profile-picture
{
    max-width: 6rem;
}
.mdl-navigation__link
{
    transition: ease 1s !important;
}
.no-focus:focus
{
    box-shadow:none !important;
}
/* material icons sizing */
.material-icons.md-18 { font-size: 18px; vertical-align:middle; padding-bottom: 3px; color: rgba(0, 0, 0, 0.54); }
.material-icons.md-24 { font-size: 24px; vertical-align:middle; padding-bottom: 3px; color: rgba(0, 0, 0, 0.54);}
.material-icons.md-36 { font-size: 36px; vertical-align:middle; padding-bottom: 3px; color: rgba(0, 0, 0, 0.54);}
.material-icons.md-48 { font-size: 48px; vertical-align:middle; padding-bottom: 3px; color: rgba(0, 0, 0, 0.54);}
/*  */